<aside class="nav">
    <h3 class="h3 col-12">More info</h3>
    {{#each links}}
    <div class="nav-items col-12 col-sm-6 text-start">
        <a class="nav-link fs-5 font-warning col-12 col-sm-6" href='{{this.url}}'> {{{this.text}}}</a>
    </div>

    {{/each}}

</aside>