<div class="container mb-5">
    <h1>About us</h1>

    <h2>I am too shy to tell you all about myself</h2>
</div>

<div class="container mb-5">
    {{> links}}
</div>

<div class="container">
    {{> legal}}
</div>