<ul>
<<<<<<< HEAD
    {{#each personlist}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
=======
  {{#each staff}}
    <li><a href="{{this.name}}">{{this.name}}</a></li>
  {{/each}}
</ul>
>>>>>>> 50117bb3551f16d00f5d12d3d5ac9d0e22312d2a
